$primary: #221bf7;
$secondary: #ccdbdc;
$dark: #191308;
$warning: #d45113;
$danger: #db162f;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

$light: $gray-200;
