$primary: #221bf7;
$secondary: #A0ACAD;
$dark: #191308;
$warning: #d45113;
$danger: #db162f;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

$light: $gray-200;



@import "./media_query.scss";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

nav {
  z-index: -100;
}

.form-control {
  border: 1px solid black !important;
}

.header__border {
  border-bottom: #221bf7 3px solid;
}

.showed {
  color: #1c0b19;
}

.cover__image {
  width: 100vw !important;
}

.navbar-toggler-icon {
  width: fit-content;
  height: fit-content;
}

.med_screen_toggler {
  cursor: pointer;
}

.card--latest__release{
  max-width: 15rem;
}


.category--1 img, .category--2 img, .category--3 img {
  object-fit: cover;
}


