@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

nav {
  z-index: -100;
}

.form-control {
  border: 1px solid black !important;
}

.header__border {
  border-bottom: #221bf7 3px solid;
}

.showed {
  color: #1c0b19;
}

.cover__image {
  width: 100vw !important;
}

.navbar-toggler-icon {
  width: fit-content;
  height: fit-content;
}

.med_screen_toggler {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .cover__image {
    height: 25vh;
    object-fit: cover;
  }

  nav {
    position: absolute !important;
  }
}
