body {
  margin: 0;
  padding: 0;
}

nav {
  z-index: -100;
}

.header__border {
  border-bottom: blue 3px solid;
}

.showed {
  color: white;
}

.cover__image {
  width: 100vw !important;
}

.navbar-toggler-icon {
  width: fit-content;
  height: fit-content;
}

.med_screen_toggler {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .cover__image {
    width: 130vw !important;
  }

  nav {
    position: absolute !important;
  }
}
