/* .pagination > li > a {
  background-color: blue;
  color: orange;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: orange;
  background-color: #eee;
  border-color: #ddd;
} */
p {
  color: black;
}

.checked {
  color: orange;
}
.card-title-fluid {
  padding-left: 1rem;
}
.fa {
  padding-left: 1rem;
}
.card-subtitle {
  padding-left: 1rem;
}
.card--new-design {
  max-width: 18rem;
}
.card img {
  height: 250px;
}
.pagination {
  padding-top: 1rem;
  padding-right: 4rem;
}
#navbarDropdownMenuLink {
  padding-right: 30rem;
}
.card-title {
  padding-left: 0.45rem;
}
.card-text {
  padding-left: 0.45rem;
}
.d-flex {
  height: 500;
}
